<head>
    <title>Básnické výrazy</title>
</head>
<body>

{% set questionsArray = [


] %}

{% for index, i in questions %}
    {% set question = {
            "question": i.text,
            "id": index,
            "answers": [
            {
                "answer": i.correctAnswer,
                "isCorrect": true
            },
            {
                "answer": i.wrongAnswer1,
                "isCorrect": false
            },
            {
                "answer": i.wrongAnswer2,
                "isCorrect": false
            },
            {
                "answer": i.wrongAnswer3,
                "isCorrect": false
            }

        ]
        }
     %}
    {% set questionsArray = questionsArray|merge([question]) %}
{% endfor %}


{% set minimalPercentage = 70 %}
{% set totalQuestions = questionsArray|length %}
{% set correctAnswers = 0 %}

{% if questionsArray is empty %}
<p>No questions found.</p>
{% endif %}

<form action="" method="post">
    {% for question in questionsArray %}
        <div>
            {{ question.question }}
            <br><br>
            {% for answer in question.answers %}
                <input type="radio" name="{{question.id}}. " value="{{ answer.answer }}"> {{ answer.answer }}
                <br>
            {% endfor %}
        </div>
        <br><br>
    {% endfor %}

    <input type="submit" value="Submit">
</form>

{% if app.request.getMethod() == "POST" %}
    {% for question in questionsArray %}
        {% set selectedAnswer = app.request.get(question.id) %}
        {% for answer in question.answers %}
            {% if answer.answer == selectedAnswer and answer.isCorrect %}
                {% set correctAnswers = correctAnswers + 1 %}
            {% endif %}
        {% endfor %}
    {% endfor %}

    {% set percentage = (correctAnswers / totalQuestions) * 100 %}

    <div>
        Percentage: {{ percentage }}%
    </div>

    {% if percentage >= minimalPercentage %}
        <div>
            Congratulations, you passed the quiz!
        </div>
    {% else %}
        <div>
            Sorry, you did not pass the quiz.
        </div>
    {% endif %}
{% endif %}
</body>